.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(12, 12, 12);
  color: rgb(230, 230, 230);
  z-index: 10;

  ul {
    display: flex;
    justify-content: space-between;

    button {
      margin-left: 1em;
    }
  }

  a {
    color: rgb(230, 230, 230);
  }

  li {
    padding: 1.5em;
    cursor: pointer;
  }

  li:hover {
    background: rgb(40, 40, 40);
  }

  .left_nav_items {
    display: none;
    // display: flex;
  }

  .right_nav_items {
    display: flex;
  }

  .active {
    font-weight: bold;
    background: rgb(40, 40, 40);
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .enabled {
    opacity: 1;
    pointer-events: all;
  }
}
