.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-top: solid 1px;
  border-bottom: solid 1px;

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    padding: 2em;
  }

  .left_nav_items {
    display: flex;

    li {
      border-right: solid 1px;
    }
  }

  .right_nav_items {
    display: flex;

    li {
      border-left: solid 1px;
    }
  }
}
