.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 7em;

  .search_input_holder {
    position: relative;
    margin: 1em 0;
    input {
      width: 50%;
      padding: 0.5em 2.5em;
      font-size: 1rem;
      border-radius: 5px;
      border-width: 1px;
      outline: none;
    }

    svg {
      position: absolute;
      top: 0.3em;
      left: 0.5em;
    }
  }
}
