.container {
  height: 100%;
  background: rgb(12, 12, 12);
  color: #e6e6e6;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  transition: width 0.3s ease-in-out 0s;
  z-index: 13;

  li {
    padding: 1.5em 0;
    text-align: center;
  }

  li:hover {
    cursor: pointer;
    background: rgb(40, 40, 40);
  }

  a {
    color: #e6e6e6;
  }
}

.invisible {
  display: none;
}
