.container {
  margin: 2em 0;

  .content_holder {
    position: relative;

    h5 {
      margin: 1em 0;
    }

    svg {
      color: white;
      position: absolute;
      top: 48%;
      background-color: transparent;
      border-radius: 50%;
      border: solid 2px white;
      padding: 0.5em;
      cursor: pointer;
    }

    svg:hover {
      background: white;
      color: black;
    }

    svg:nth-child(2) {
      right: 0;
    }

    img {
      width: 100%;
      height: 300px;
      object-fit: fill;
    }

    .slider {
    }

    .slide_left {
    }

    .slide_right {
    }
  }
}
